@media screen and (min-width: 480px) {
  .header-container,
  .hero-container,
  .merits-container,
  .team-container,
  .customers-container,
  .footer-container,
  .portfolio-container {
    width: 428px;
  }


  .mob-menu-tel-link {
    font-size: 36px;
  }

  .link-active {
    color: var(--present-state-color);
  }


  .merits-item {
    width: 396px;
  }

  .customers-item {
    width: 190px;
    height: 88px;
  }


  .modal {
    width: 392px;
  }
}

@media screen and (min-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark_bg_tablet_1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark_bg_tablet_2x.jpg);
    }
  }
}
